* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    font-size: 16px;
    
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    height: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(37, 37, 37);
    background-color: rgb(37, 37, 37);
}  

header h1 {
    background-color: lightblue;
    height: 25%;
}

header nav {
    float: right;
    
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    font-size: 20px;
    color: aqua;
}

figure img {
    width: 100%;
}