* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    font-size: 16px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3px;
    width: 100%;
    height: 20%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(37, 37, 37);
    background-color: rgb(37, 37, 37);
}  

header h1 {
    background-color: lightblue;
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px;
    height: 25%;
}

header nav {
    float: right;
    
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

figure img {
    width: 100%;
}

main {
    margin-top: 20px;
    margin-left: 10px;
}

main ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 10px;
    padding: 0px;
}

main ul li {
    width: 50px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 20px;
}

main ul li img {
    object-fit: contain;
}