/* Formatting for the HTML elements */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    background-color: lightgray;
    font-size: 16px;
    --void-gray: rgb(37, 37, 37);
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 20%;
    padding: 3px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--void-gray);
    background-color: var(--void-gray);
}  

header h1 {
    background-color: lightblue;
    height: 25%;
    margin-top: 0px;
    margin-left: 0px;
    padding: 10px;
}

header nav {
    float: right;
    
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style-type:none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    width: 150px;
    height: 50px;
    margin-top: 5px;
    margin-left: 10px;
    font-size: 25px;
    background-color: lightblue;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

/* banner img for webpage */

figure img {
    width: 100%;
    height: 200px;
    max-height: 200px;
}

 /* main content: contains About Me, My Work, Contact Info */

main {
    margin-top: 20px;
    margin-left: 10px;
}

main ul {
    display: flex;
    flex-direction: column;
    margin: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    list-style-type: none;
    color: var(--void-gray);
}

main ul li {
    display: flex;
    padding-top: 25px;
    
}

main ul li h2 {
    display: flex;
    flex-wrap: wrap;
    font-size: 30px;
    font-weight: bold;
    min-width: 200px;
    max-width: 200px;
    padding: 20px;
    border-right: 5px solid var(--void-gray); 
    text-decoration: underline var(--void-gray) 5px;
}

main ul li p {
    padding-left: 50px;
    color: var(--void-gray);
}

/* classes styled below */

/* formats My Work */

.grid {
    --barrier: 15px;
    --columns: 2;
    --height: 350px;
    --width: 350px;
    
    box-sizing: border-box;
    padding: var(--barrier);
    padding-left: 50px;
    border-left-width: 10px;
    min-height: var(--height);
    min-width: var(--width);

    display: grid;

    grid-template-columns: repeat(var(--columns), 1fr);
    grid-auto-rows: var(--height);
    grid-auto-columns: var(--width);
    gap: var(--barrier);
}

    .grid > a > img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        border: 5px solid var(--void-gray);
        box-shadow: 5px 5px gray;
    }

        .grid > a > img:hover {
            opacity: 0.7;
            transition: 0.5s;
        }

.wide {
    grid-column: span 2;
}

.contacts {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-grow: 1;
    padding: 50px;
    font-style: bold;
    font-size: 20px;
    line-height: 2rem;
}

/* Media Queries */

@media screen and (min-width:1700px) {
    
    /* element */

    main ul li p {
        padding-right: 25%;
    }

    /* class */

    .contacts {
        padding-right: 25%;
    }

}

@media screen and (min-width:990px) {
    
    /* elements */

    main ul li h2 {
        font-size: 40px;
        min-width: 300px;
        max-width: 300px;
    }

   
    /* classes */

    .grid {
        max-width: 1250px;
        --height: 500px;
        --width: 500px;
    }

    
}

@media screen and (max-width:660px) {
    
    /* elements */

    header {
        flex-direction: column;
        font-size: 10px;
    }

    header nav ul {
        padding: 0px;
        flex-wrap: wrap;
    }

    main ul li {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0px;
    }

    main ul li h2 {
        justify-content: center;
        border-right: 0; 
        border-bottom: 5px solid var(--void-gray); 
        font-size: 20px;
        text-decoration: none;
    }

    main ul li p {
        display: flex;
        justify-content: center;
        padding-left: 10px;
        padding-top: 20px;
    }

    /* classes */

    .grid {
        --height: 200px;
        --width: 200px;
        
        padding-left: 10px;
    }

    .contacts {
        justify-content: center;
        flex-direction: column;
    }

    @media screen and (min-width:600px) {
        .contact-header {
            margin: 0px 30px 0px 30px;
        }
    }

}



@media screen and (max-width:750px) {
    .contacts {
        padding-left: 20px;
    }
}